@import '../../../theme/vars';
@import '../../../theme/breakpoints';

.collection {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 30px 0 0 0;
  padding: 0;

  @media #{$desktop} {
    padding: 0 30px;
  }

  .editButton {
    &:hover {
      background-color: #fff;
      color: $lightBlue;
    }
  }

  .deleteButton {
    background-color: $red;
    border-color: $red;
    margin-left: 15px;

    &:hover {
      background-color: #fff;
      color: $red;
    }
  }

  li {
    margin-bottom: 10px;
    border: 2px solid $blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: $borderRadius;
    background-color: $blue;
    color: #fff;

    @media #{$desktop} {
      flex-direction: row;
    }

    .infoWrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      @media #{$desktop} {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 0;
      }

      & > * {
        display: block;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        &:not(:last-child) {
          margin-bottom: 15px;
        }

        @media #{$desktop} {
          min-width: 150px;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}
