@import '../../theme/vars.scss';
@import '../../theme/breakpoints.scss';

.errorMessage {
  color: $red;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 12px;

  @media #{$desktop} {
    left: 200px;
    font-size: 16px;
  }
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;

  @media #{$desktop} {
    flex-direction: row;
  }

  input,
  textarea {
    width: 100%;
    border: none;
    border-bottom: 3px solid #ccc;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 18px;
    color: #121212;
    transition: $transition;

    &:focus,
    &:active,
    &:hover {
      border-color: $lightBlue;
      outline: none;
    }
  }

  textarea {
    width: auto;
    border: 3px solid #ccc;
    padding: 10px;
    line-height: 18px;
    font-size: 18px;
    resize: none;
    min-height: 100px;

    @media #{$desktop} {
      width: 100%;
    }
  }
}

.title {
  font-weight: bold;
  font-size: 20px;
  width: auto;
  flex-shrink: 0;

  @media #{$desktop} {
    width: 200px;
  }
}
