@import './breakpoints';
@import './vars';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  position: relative;
  margin: 0;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fefefe;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  white-space: nowrap;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 25px;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  letter-spacing: 1px;
  text-decoration: none;
  border-radius: $borderRadius;
  transition: $transition;

  &--main {
    background-color: $lightBlue;
    border-color: $lightBlue;

    &:hover {
      background-color: $green;
      border-color: $green;
      color: #fff;
    }
  }

  &--cancel {
    background-color: $red;
    border-color: $red;

    &:hover {
      background-color: #fff;
      color: $red;
    }
  }
}
