@import '../../../theme/vars.scss';

.SignInForm {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;

  input {
    border: none;
    border-bottom: 3px solid #ccc;
    margin-bottom: 20px;
    line-height: 40px;
    font-size: 24px;
    color: #121212;
    transition: $transition;

    &:focus,
    &:active,
    &:hover {
      border-color: $lightBlue;
      outline: none;
    }
  }

  .submitBtn {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    font-size: 24px;

    &:hover {
      background-color: $green;
      color: #fff;
      border-color: $green;
    }
  }
}
